<div class="card">
  <h4 class="card-header">
    Products Information
  </h4>
  <div class="card-body">
 
    <h5 class="card-title">Thông tin sản phẩm {{this.product.ProName}}</h5>
    <p class="card-text">{{{this.product.FullDes}}}</p>

  </div>
</div>